* {
    font-family: "Adwaita Mono Nerd Font", sans-serif;
    font-size: 9pt;
    min-height: 27px;


}

window#waybar {
	all:unset;
	/* background-color: rgba(0, 0, 0, 0); */

	/* background-color: #141316; */
	background-color: transparent;

	border: none;
	border-radius: 0;
	transition-property: background-color;
	transition-duration: 0.5s;

}






/* WAYBAR WINDOW GAPS */



/* .modules-left,
.modules-center,
.modules-right {
	padding: 6px 6px;

} */


button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 0 transparent;
	color: #f4e6ff;
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: transparent;
}

tooltip {
	background-color: #1F1F28;
	border-radius: 8px;
}

#clock {
	background-color: #1F1F28;
	border-radius: 8pt;
/*	color: #DCD7BA;	*/ 
    color: #f4e6ff
}


/* .modules-right{
	padding: 0 0.5em;
} */


/* WORKSPACE */

#workspaces {
	font-weight: bold;

	background-color: #1F1F28;
	border-radius: 8pt;
/*	color: #DCD7BA;	*/ 
    color: #f4e6ff;

	margin-right: 10px;

	padding: 0 0.75em 0 0.50em;
}

#workspaces button {
	padding: 0 0.25em 0 0.25em;
	/*margin: 0.5 -0.65em*/
}

#workspaces button.visible {
	color: #f4e6ff;
}

#workspaces button.empty {
	color: #727169;
}

#workspaces button.active {
	background: transparent;
	color: #f4e6ff;
}

/* CLOCK */

#clock {
	padding: 0 0.5em;
	font-weight: bold;
	font-size: 8pt;
	/*color: #DCD7BA;*/ 
    color: #f4e6ff;

	margin-right: 10px;
}

/* PLAYER */

#mpris {
    padding: 0 1.2em 0 1.2em;
	font-weight: bold;
	font-size: 8pt;
    color: #f4e6ff;

    background-color: #1F1F28;
	border-radius: 8pt;

	margin-right: 10px;
}

/* TRAY */

#tray {
	font-size: 8pt;

    padding: 0 1em 0 1em;


    background-color: #1F1F28;
	border-radius: 8pt;
/*	color: #DCD7BA;	*/ 
    color: #f4e6ff;

	margin-right: 10px;

}


#wireplumber {
	font-size: 8pt;

	
}

#wireplumber.percent {
	font-size: 8pt;

	font-weight: bold;
}

#network {
	font-size: 8pt;

    padding: 0 1em 0 0;
	font-weight: bold;
}

#info {

    padding: 0 1em 0 1em;
    background-color: #1F1F28;
	border-radius: 8pt;
/*	color: #DCD7BA;	*/ 
    color: #f4e6ff;

	margin-right: 10px;

}

#bluetooth {
    padding: 0 1em 0 1em;
    background-color: #1F1F28;
	border-radius: 8pt;
/*	color: #DCD7BA;	*/ 
    color: #f4e6ff;

    margin-right: 10px;


	font-size: 8pt;

		font-weight: bold;
}

#temperature {

/*	color: #DCD7BA;	*/ 
    color: #f4e6ff;

	padding: 0 1em 0 1em;
    background-color: #1F1F28;
	border-radius: 8pt;


    margin-right: 10px;


	font-size: 8pt;

		font-weight: bold;
}

#custom-wlsunset {

    padding: 0 1em 0 1em;
    background-color: #1F1F28;
	border-radius: 8pt;
/*	color: #DCD7BA;	*/ 
    color: #f4e6ff;

	font-size: 8pt;

}

#speedtest {
	padding: 0 0.33em 0 1em;
    background-color: #1F1F28;
	border-radius: 8pt;
/*	color: #DCD7BA;	*/ 
    color: #f4e6ff;


    margin-right: 10px;

		font-weight: bold;
}

#privacy {
    padding: 0 1.1em 0 1.1em;
    background-color: #1F1F28;
	border-radius: 8pt;
/*	color: #DCD7BA;	*/ 
    color: #f4e6ff;

    margin-right: 10px;

	font-weight: bold;
	font-size: 8pt;

}

#privacy-item.screenshare {
	padding: 0 0.5em 0 0;
}

#infocm {
	padding: 0 1em 0 1em;
    background-color: #1F1F28;
	border-radius: 8pt;
/*	color: #DCD7BA;	*/ 
    color: #f4e6ff;

    margin-right: 10px;

}

#cpu {
	font-size: 8pt;
		font-weight: bold;

}

#memory {
	font-size: 8pt;
		font-weight: bold;

}

#custom-poweroff {
	padding: 0 1em 0 1em;
    background-color: #1F1F28;
	border-radius: 8pt;
/*	color: #DCD7BA;	*/ 
    color: #f4e6ff;

	font-size: 8.5pt;

}

#custom-wofi {
	padding: 0 1.35em 0 1.05em;
    background-color: #1F1F28;
	border-radius: 8pt;
/*	color: #DCD7BA;	*/ 
    color: #f4e6ff;

    margin-right: 10px;
	
	font-size: 8pt;
}

#language {
    padding: 0 1em 0 1em;
    background-color: #1F1F28;
	border-radius: 8pt;
/*	color: #DCD7BA;	*/ 
    color: #f4e6ff;

    margin-right: 10px;


	font-size: 8.4pt;

		font-weight: bold;

	min-width: 14px;
}